<h1>Inventory Items for <%= "#{@merchant.name}" %></h1>

<h3><%= link_to "Add New Item To Inventory", "/merchants/#{@merchant.id}/inventory_items/new" %></h3>
<hr>
<h3>Items in Stock</h3>
  <% @merchant.active_items.each do |item| %>
    <p>Item Name: <%= item.name %></p>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Inventory Count: <%= item.inventory_count %></p>
    <p><%= link_to "Edit Details for #{item.name}", "/merchants/#{@merchant.id}/inventory_items/#{item.id}/edit" %></p>
    <p><%= link_to "Delete #{item.name} from Inventory", "/merchants/#{@merchant.id}/inventory_items/#{item.id}/delete_item"%></p>
    <hr>
  <% end  %>
<hr>
<h3>Deleted items</h3>
  <% @merchant.deleted_items.each do |item| %>
    <p><%= item.name %></p>
    <p>Deletion Comments: <%= item.deletion_comments %></p>
    <p><%= link_to "Un-Delete #{item.name}", "/merchants/#{@merchant.id}/inventory_items/#{item.id}/un_delete", method: :patch%></p>
    <hr>
  <% end %>
