<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyBackendChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class = navbar>
      <div class="topnav" id="siteWideNav">
          <h4><%=link_to "Back to List of all Merchants", "/" %></h4>
      </div>
  </header>

     <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
